<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>HelveticaNeue.ttc</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSMicrophoneUsageDescription</key>
	<string>Need microphone access for uploading audio</string>
	<key>NSCameraUsageDescription</key>
	<string>We need this permission to capture and update driver profile picture.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need this permission to get photos from library for update driver linces picture.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This Application need to access your calendar to add event on it</string>
    
    <key>UIStatusBarStyle</key><string>UIStatusBarStyleLightContent</string>

    <key>LSApplicationQueriesSchemes</key>
        <array>
        <string>comgooglemaps</string>
        </array>
        
        
</dict>
</plist>
